<div style="text-align: center">
    <h1>
        Hello Driver!
    </h1>
</div>
<base href='/'>


<nav>
    <button>
            <a routerLink="/driver-profile" routerLinkActive="active">Your Profile</a>
    </button>

    <button>
            <a routerLink="/driver-payments" routerLinkActive="active">Payments</a>
    </button>

    <button>
            <a routerLink="/driver-passengerlist" routerLinkActive="active">Passengers</a>
    </button>

    <button>
            <a routerLink="/driver-sharelocation" routerLinkActive="active">Share Location</a>
    </button>

    <button>
            <a routerLink="/driver-vehicleroute" routerLinkActive="active">Vehicle Route</a>
    </button>

    <button>
            <a routerLink="/driver-ratepassengers" routerLinkActive="active">Rate Passengers</a>
    </button>

</nav>