<base href='/'>


<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #222">
    <a class="navbar-brand" style="color: white" href="#">DriveMe</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Profile
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="[{outlets: {'navbar': 'driverregister'}}]" routerLinkActive="active" style="color: #ddd">Register a Driver</a>

                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Passenger List
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/driver-passengerlist" style="color: #ddd">My Passenger List</a>
                    <a class="dropdown-item" href="#" style="color: #ddd">Another</a>
                    <a class="dropdown-item" href="#" style="color: #ddd">Something</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Payments
            </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" style="color: #ddd">Action</a>
                    <a class="dropdown-item" href="#" style="color: #ddd">Another</a>
                    <a class="dropdown-item" href="#" style="color: #ddd">Something</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Location Sharing
            </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" style="color: #ddd">Action</a>
                    <a class="dropdown-item" href="#" style="color: #ddd">Another</a>
                    <a class="dropdown-item" href="#" style="color: #ddd">Something</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Vehicle Route
            </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" style="color: #ddd">Action</a>
                    <a class="dropdown-item" href="#" style="color: #ddd">Another</a>
                    <a class="dropdown-item" href="#" style="color: #ddd">Something</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ratings
            </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" style="color: #ddd">Action</a>
                    <a class="dropdown-item" href="#" style="color: #ddd">Another</a>
                    <a class="dropdown-item" href="#" style="color: #ddd">Something</a>
                </div>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item" style="padding-right: 30px">
                <a href="#"><img src="../../assets/icons/user-solid.svg " style="color: #ddd;height:20px; padding: 0px"></a>
            </li>
            <li class="nav-item" style="padding-right: 10px">
                <a href="#"><img src="../../assets/icons/sign-out-alt-solid.svg " (click)="logout()" style="color: #ddd;height:20px; padding: 0px"></a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet name="navbar"></router-outlet>

<div style="text-align: center">
    <h1>
        Hello Driver!
    </h1>
</div>


<table align="center">
    <tr>
        <button style="margin:1px 1px 1px 1px; width :150px;">
            <a routerLink="/driver-profile" routerLinkActive="active">Your Profile</a>
                </button>
    </tr>
    <tr>
        <button style="margin:1px 1px 1px 1px; width :150px;">
                    <a routerLink="/driver-payments" routerLinkActive="active">Payments</a>
                </button>
    </tr>

    <tr>
        <button style="margin:1px 1px 1px 1px; width :150px;">
                    <a routerLink="/driver-passengerlist" routerLinkActive="active">Passengers</a>
                </button>
    </tr>

    <tr>
        <button style="margin:1px 1px 1px 1px; width :150px;">
                    <a routerLink="/driver-sharelocation" routerLinkActive="active">Share Location</a>
                </button>
    </tr>

    <tr>
        <button style="margin:1px 1px 1px 1px; width :150px;">
                    <a routerLink="/driver-vehicleroute" routerLinkActive="active">Vehicle Route</a>
                </button>
    </tr>

    <tr>
        <button style="margin:1px 1px 1px 1px; width :150px;">
                    <a routerLink="/driver-ratepassengers" routerLinkActive="active">Rate Passengers</a>
                </button>
    </tr>

</table>
