.fill-form {
    border: 1.5px solid #555;
    border-radius: 50px;
    width: 40%;
}

.form-field-full-width {
    width: 40%;
}

.button {
    margin-inline-start: 5px;
    margin-inline-end: 5px;
}