 .fill-form {
     border: 1.5px solid #555;
     border-radius: 30px;
     width: 20%;
 }
 
 .form-field-full-width {
     width: 10%;
 }
 
 .button {
     margin-inline-start: 5px;
     margin-inline-end: 5px;
 }
 
 .top-margin {
     margin-top: 50px !important; //kamathi ganak daganin
 }