<ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="large"
    color=white
    type="ball-spin-clockwise">
</ngx-spinner>   
<div class="container navbar-margin">   
    <div class="container-fluid pl-5 pr-5 pt-3 pb-2 fill-form">

        <p style="margin:0px;font-size: 30px; font-weight: 400;font-family: Georgia, 'Times New Roman', Times, serif">Edit Driver Details</p>
        <section *ngIf="waiting" style="display: flex; align-content: center; align-items: center;margin-top: 30px; margin-left: 20px; margin-right: 20px;">
            <mat-progress-bar  color="warn" mode="indeterminate" value="50" bufferValue="75">
        </mat-progress-bar>
        </section>
        <mat-horizontal-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup" >
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Driver Details</ng-template>
                    <mat-form-field class="form-field-full-width">
                        <input [(ngModel)]="driverName" matInput placeholder="Name"  formControlName="ctrl1" required>
                    </mat-form-field><br>
                    <mat-form-field class="form-field-full-width">
                        <input [(ngModel)]="driverEmail" matInput placeholder="Email" formControlName="ctrl2" required>
                    </mat-form-field><br>
                    <mat-form-field class="form-field-full-width">
                        <input [(ngModel)]="driverTelephone" matInput placeholder="Telephone" formControlName="ctrl3" required>
                    </mat-form-field><br>
                    <mat-form-field class="form-field-full-width">
                        <input [(ngModel)]="driverAddress" matInput placeholder="Address" formControlName="ctrl4" required>
                    </mat-form-field><br>
                    <mat-form-field class="form-field-full-width">
                        <input [(ngModel)]="driverNIC" matInput placeholder="NIC/Passport Number" formControlName="ctrl5" required>
                    </mat-form-field><br>
                    <mat-form-field class="form-field-full-width">
                        <input [(ngModel)]="driverLicense" matInput placeholder="Driver License Card Number" formControlName="ctrl6" required>
                    </mat-form-field><br>
                    <mat-form-field class="form-field-full-width">
                        <input [(ngModel)]="pass1" matInput placeholder="Login Password" [type]="hide ? 'password' : 'text'" formControlName="ctrl7" required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon color="accent">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field class="form-field-full-width pb-0">
                        <input [(ngModel)]="pass2" matInput placeholder="Re-Enter Password" [type]="hide ? 'password' : 'text'" formControlName="ctrl8" required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" >
                        <mat-icon color="accent">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <div *ngIf="passwordDiv">
                        <section *ngIf="pass1!=pass2?true:false" style="font-size: 12px;color: red;">
                            <p style="font-weight: 550;">Password Mismatched</p>
                        </section>
                        <section *ngIf="pass1==pass2?true:false" style="font-size: 12px; color: rgb(6, 190, 6);">
                            <p style="font-weight: 550;">Password Matched</p>
                        </section>
                    </div><br>
                    <!-- <mat-form-field class="form-field-full-width pb-0"> -->
                    <!-- <label for="file" class="mr-4">Image :</label>
                    <input type="file" (change)="upload($event)" accept=".png,.jpg" required/> -->
                    <!-- </mat-form-field>   -->
                    <div class="pt-3">
                        <button mat-raised-button color="primary" (click)="stepperNext(stepper)">Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Vehicle Details</ng-template>
                <mat-form-field class="form-field-full-width">
                    <input [(ngModel)]="vehicleNumber" matInput placeholder="Vehicle Registration Number" formControlName="ctrl9" required>
                </mat-form-field><br>
                <mat-form-field class="form-field-full-width">
                    <input [(ngModel)]="vehicleChassis" matInput placeholder="Chassis Number" formControlName="ctrl10" required>
                </mat-form-field><br>
                <mat-form-field class="form-field-full-width">
                  <mat-label>Vehicle Type</mat-label>
                  <mat-select [(ngModel)]="vehicleType" name="vehicle" name="Vehicle Type"  formControlName="ctrl11" required>
                    <mat-option *ngFor="let vehicle of vehicle" [value]="vehicle.value">
                      {{vehicle.value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="form-field-full-width">
                    <input [(ngModel)]="availableSeets"  matInput placeholder="Number of Available Seets" formControlName="ctrl12" required>
                </mat-form-field><br>
                <mat-checkbox  [(ngModel)]="airConditioned"  formControlName="ctrl13" style="color: #888;">Air-Conditioned</mat-checkbox>
                <div class="pt-3">
                    <button mat-raised-button color="accent" matStepperPrevious class="mr-4">Back</button>
                    <button mat-raised-button color="primary" matStepperNext>Next</button>
                </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Confirm</ng-template>
                Please Confirm the Details
                <div class="pt-3">
                    <button mat-raised-button color="accent" matStepperPrevious  class="mr-4">Go Back</button>
                    <button mat-raised-button color="primary" (click)="registerDriver()">Confirm</button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>
