<app-ngxspinner></app-ngxspinner> 
<div class="container navbar-margin">
    <mat-list role="list"  *ngFor="let passenger of passengers | async; let last = last">
        <div class="row pt-4 pb-3 mb-4" style="border: 3px solid #FF5722; border-radius: 20px;" *ngIf="!passenger.isDeleted">
            <div class="col-md-3" style="vertical-align: middle;text-align: center;"> 
                <div class="row" style="vertical-align: middle;
                display: flex;
                justify-content: center;">
                        <img src="../../../../assets/passengeravatar.png" alt="Passenger Icon" style="width: 150px;
                        position: absolute;
                        top: 50%;
                        -ms-transform: translateY(-50%);
                        transform: translateY(-50%);">
                </div>
            </div>
            <div class="col-md-5" style="padding-left: 30px;">
                <p>Name : {{passenger.name}}</p>
                <p>Email : {{passenger.email}}</p>
                <p>Address : {{passenger.address}}</p>
                <p>Telephone : {{passenger.phone}}</p>
            </div>
            <div class="col-md-4">                
                <button mat-raised-button color="primary" style="
                    height: 45px;
                    width: 70%;
                    position: absolute;
                    top: 12%;
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);" (click)="changePassengerDetails(passenger.id,passenger)" 
                    routerLinkActive="active" ><mat-icon>edit</mat-icon>Change Details</button>

                <button mat-raised-button color="primary" style="
                    height: 45px;
                    width: 70%;
                    position: absolute;
                    top: 47%;
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);"  
                    routerLinkActive="active" (click)="changePassword(passenger.id)">
                    <mat-icon>lock_open</mat-icon>Reset Password</button>  
                         
                <button mat-raised-button color="primary" style="
                    height: 45px;
                    width: 70%;
                    position: absolute;
                    top: 83%;
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);"  
                    routerLinkActive="active" (click)="ratingsandpayments(passenger.id)">
                    <mat-icon>assignment</mat-icon>Ratings & Payments</button>        
        <!-- [routerLink]="['/admin', {outlets: {'adminnavbar': ['editdriverdetails',id]}}]"     -->
        </div>
        <div class="col-md-12" style="align-items: center;text-align: center;">
            <button mat-raised-button color="warn" style="
                    margin-top: 10px;
                    height: 45px;
                    width: 25%;"  
                    routerLinkActive="active" (click)="removePassenger(passenger.id)">
                    <mat-icon>delete</mat-icon>Remove Passenger</button>  
        </div>
        </div>
    </mat-list>
</div>