<p style="padding-top: 50px;" *ngIf="last">asdf</p>
<ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="large"
    color=white
    type="ball-spin-clockwise">
</ngx-spinner>  
<div class="container navbar-margin">
    <mat-list role="list"  *ngFor="let driver of drivers | async; let last = last" >
        <div class="row pt-4 pb-3 mb-4" style="border: 1.5px solid #FF5722; border-radius: 20px;">
            <div class="col-md-3" style="vertical-align: middle;text-align: center;"> 
                <div class="row" style="vertical-align: middle;
                display: flex;
                justify-content: center;">
                        <img src="../../../../assets/driveravatar2.png" alt="Driver Icon" style="width: 200px;
                        position: absolute;
                        top: 50%;
                        -ms-transform: translateY(-50%);
                        transform: translateY(-50%);">
                </div>
            </div>
            <div class="col-md-5" style="padding-left: 30px;">
                <p>Name : {{driver.name}}</p>
                <p>Email : {{driver.email}}</p>
                <p>Address : {{driver.driverAddress}}</p>
                <p>Telephone : {{driver.telephone}}</p>
                <p>NIC/Passport Number : {{driver.driverNIC}}</p>
                <p>License Number: {{driver.driverLicense}}</p>
                <p>Vehicle Number : {{driver.vehicleNumber}}</p>
                <p>Vehicle Chassis : {{driver.vehicleChassis}}</p>
                <p>Vehicle Type : {{driver.vehicleType}}</p>
            </div>
            <div class="col-md-4">                
                <button mat-raised-button color="primary" style="
                    height: 45px;
                    width: 80%;
                    position: absolute;
                    top: 50%;
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);" (click)="changedriverDetails(driver.id,driver)" routerLinkActive="active" >Change Details</button>
        <!-- [routerLink]="['/admin', {outlets: {'adminnavbar': ['editdriverdetails',id]}}]"     -->
        </div>
        </div>
    </mat-list>
</div>