<div style="font-family: Georgia, 'Times New Roman', Times, serif">
    <p style="font-size: 30px; font-weight: 400;">User Login Form</p>
    <div mat-dialog-content class="login-form" style="border:1.2px solid #666; margin: 20px 50px 10px 20px; border-radius: 10px;padding: 15px 20px 5px 20px;width: 90%;">
        <mat-form-field style="font-size: 19sp; width: 100%">
            <input [(ngModel)]="inputEmail" [formControl] = "myControl1" matInput placeholder="Email"> 
            <!-- <input matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher">  -->
            <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
            </mat-error> -->
        </mat-form-field><br>
        <mat-form-field style="font-size: 19sp; width: 100%;">
            <input [(ngModel)]="inputPassword" [formControl] = "myControl2" matInput placeholder="Password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field><br>
    </div>
    <section *ngIf="waiting" style="display: flex; align-content: center; align-items: center;margin-top: 30px; margin-left: 20px; margin-right: 20px;">
        <mat-progress-bar  color="primary" mode="indeterminate" value="50" bufferValue="75">
    </mat-progress-bar>
    </section>
    <section *ngIf="loginerror" style="display: flex; align-content: center; align-items: center; margin-left: 20px; font-size: 15sp">
        <mat-error color="accent">Invalid Credentials</mat-error>
    </section>
    <div mat-dialog-actions >
        <div class="col-md-12" style="margin-bottom: 20px;">
            <div class="row" style="padding-left: 22px; margin-top: 10px;">
                <mat-checkbox [(ngModel)]="checked" color="accent" style=" font-size: 18sp; font-style: none">Remember Me</mat-checkbox>
            </div><br>

            <div class="row" style="text-align: center">
                <div class="col-md-12">
                    <button mat-raised-button color="primary" style="margin-right: 0;font-size: 20px; height: 45px; width: 100%" (click)="login()">Login</button>
                </div>
            </div>
    
            <div class="row" style="text-align: center;margin-top: 20px">
                <div class="col-md-12">
                    <button mat-raised-button color="warn" (click)="onNoClick()" style="margin-right: 0;font-size: 20px; height: 45px; width: 100%">Cancel</button>
                </div>
            </div>
        </div>
    
    </div>
</div>