.heading-row{
    text-align: center
}
.heading{
    padding-top: 80px;
    align-content: center;
    padding-bottom: 20px;
    font-size: 65px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding-right: 160px    
}
.title{
    color: white;
    padding-left: 160px;
    padding-top: 55px;
    position: absolute;
}
.login-page{
    background: url('../../assets/bg10.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    // height:45.7em; background-size:cover; width:95.99em;
    // background-image:url('../../assets/bg10.jpg');
    background-position:100% 100%;
    margin: 0;
    overflow: hidden;
    text-align: center;

    
}

.character-button{
    width: 400px;
    height: 50px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.btn-div{
    padding-top: 60px;
    height: 400em;
    text-align: center;
}

.btn1{
    padding-top: 25px;
    text-align: center;
    padding-right: 160px
}

.btn-row{
}

.row{
    text-align: center
}