<app-ngxspinner></app-ngxspinner>

<div class="fluid-container login-page" >
    <div class="row" class="heading-row">
        <h1 class="heading">DriveMe</h1>
    </div>
    <div class="row" class="btn-row">
        <div class="col-md-9" class="btn-div">
            <div class="row btn1" >
                <div class="col-md-12"><h5 style="color: white;font-weight: 400;">Please Visit a DriveMe branch for Registrations</h5></div>
            </div>
            <div class="row btn1">
                <div class="col-md-12 single-button"><button mat-raised-button color="accent" class="character-button"  (click)="goback()">Go Back</button></div>
            </div>
        </div>  
    </div>
</div>






<!-- <div class="fluid-container login-page" >
    <div class="row" class="heading-row">
        <h1 class="heading">DriveMe</h1>
    </div>
    <div class="row">
    </div>
    <div class="row" class="btn-row">
        <div class="col-md-9" class="btn-div">
            <div class="row btn1">
                <div class="col-md-12 single-button"><button mat-raised-button color="accent" class="character-button" (click)="loginpopup2('admin')">Admin</button></div>
            </div>
            <div class="row btn1">
                <div class="col-md-12 single-button"><button mat-raised-button color="accent" class="character-button" (click)="loginpopup2('owner')">Owner</button></div>
            </div>
            <div class="row btn1">
                <div class="col-md-12 single-button"><button mat-raised-button color="accent" class="character-button" (click)="loginpopup2('driver')">Driver</button></div>
            </div>  
            <div class="row btn1">
                <div class="col-md-12 single-button"><button mat-raised-button color="accent" class="character-button" (click)="loginpopup('passenger')">Passenger</button></div>
            </div>
            <div class="row btn1"> 
                <div class="col-md-12 single-button"><button mat-raised-button color="accent" class="character-button" (click)="loginpopup('parent')">Parent</button></div>
            </div>
        </div>  
    </div>
</div> -->

