body{
    background-image: url(C:\Users\tamzs\OneDrive\Desktop\DriveMe-Web\DriveMe-Web\src\1.jpg);
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'Times New Roman';

}
h1{
    color: white;
    margin-top: 50px;
    font-style: bold;
    font-size: 20px;
}