*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url();
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;

}
h1{
    font-size: 40px;
    color: white;
    margin-top: 250px;
}
h3{
    font-size: 25px;
    color: white;
}
.glyphicon-pencil{
    font-size: 35px;
    color: white;
    float: right;
    margin-top: 20px;
    
}