*{
    margin: 0px;
    padding: 0px;
    float: center;
}
body{
    background-image: url(C:\Users\tamzs\OneDrive\Desktop\DriveMe-Web\DriveMe-Web\src\1.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Times New Roman';

}
h1{
    font-size: 40px;
    color: white;
    margin-top: 50px;
}
h3{
    font-size: 25px;
    color: white;
}
.glyphicon-pencil{
    font-size: 35px;
    color: white;
    float: right;
    margin-top: 20px;

}
.col-md-5{
    float: left;
    margin-top: 120px;
    box-shadow: -1px 1px 60px 10px black;
    background: rgba(0,0,0,8);
    
}
.label{
    font-weight: normal;
    margin-top: 15px;
    color: white;
    font-size: 19px;

}
.form-control{
    background: transparent;
    border-radius: 10px;
    border: 0px;
    border-bottom: 1px solid white;
    font-size: 18px;
    margin-top: 15px;
    height: 50px;
    color: white;
    float: left;
   
}
option{
    color: grey;
}
.btn-info{
    margin-top: 20px;
    font-size: 18px;
    width: 120px;
    margin-left: 80px;
    margin-bottom: 20px;
}
.btn-warning{
    margin-top: 20px;
    font-size: 18px;
    width: 120px;
    margin-bottom: 20px;
}
