.dropdown-menu  {
    background-color: #444;
}

a:hover {
    cursor:pointer;
}

.dropdown{
    padding-left: 50px;
}

.dropdown-item{
    color: #ccc;
}
	
agm-map {
    height: 300px;
}

.dropdown-item:hover{
    background-color: #333 !important;
    color: white !important;
}

.dropdown-menu a{
    background-color: transparent !important;
}

.dropdown-menu a:hover{
    background-color: #333 !important;
    color: white !important;
}

.navbarDropdown{
    color: #ddd !important;
}

.navbarDropdown:hover{
    color: white !important;
}