<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #222">
    <a class="navbar-brand" style="color: white" href="#">DriveMe</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle navbarDropdown" [routerLink]="[{outlets: {'passengernavbar': 'passengerregister'}}]" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Register a Passenger
          </a>
        
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Passengers
          </a>
          <div class="dropdown-menu"  aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="[{outlets: {'passengernavbar': 'passengerregister'}}]" routerLinkActive="active" style="color: #ddd">View Passengers</a>

          </div>
        </li> -->
        
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              My Passengers
            </a>
            <div class="dropdown-menu"  aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="[{outlets: {'passengernavbar': 'passengerlist'}}]" routerLinkActive="active" style="color: #ddd">My Passenger List</a>
            </div>
          </li>
          
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              My Payments
            </a>
            <div class="dropdown-menu"  aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="[{outlets: {'passengernavbar': 'passengerpendingpayments'}}]" style="color: #ddd">Pending Payments</a>

              <a class="dropdown-item" [routerLink]="[{outlets: {'passengernavbar': 'passengerpayments'}}]" style="color: #ddd">Payment History</a>
            </div>
          </li>
          
       <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Ratings
            </a>
            <div class="dropdown-menu"  aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="[{outlets: {'passengernavbar': 'passengerratings'}}]" routerLinkActive="active" style="color: #ddd">My Ratings</a>
              <a class="dropdown-item" [routerLink]="[{outlets: {'passengernavbar': 'driverratings'}}]" routerLinkActive="active" style="color: #ddd">Driver Ratings</a>
              <a class="dropdown-item" [routerLink]="[{outlets: {'passengernavbar': 'ratedriver'}}]" routerLinkActive="active" style="color: #ddd">Rate the driver</a>
            </div>
        </li>

        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown" style="padding-right: 30px" >
                <a class="nav-link navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #222"><img src="../../assets/icons/user-solid.svg " style="color: #ddd;height:20px; padding: 0px"></a>
                <div class="dropdown-menu"  aria-labelledby="navbarDropdown" style="background-color: #333">
                  <a class="dropdown-item" [routerLink]="[{outlets: {'passengernavbar': 'passengerprofile'}}]" routerLinkActive="active" style="color: #ddd">My Profile</a>
                  <!-- <a class="dropdown-item" [routerLink]="[{outlets: {'passengernavbar': 'passengerlist'}}]" routerLinkActive="active" style="color: #ddd">My Passenger List</a> -->
                  <!-- <a class="dropdown-item" [routerLink]="[{outlets: {'passengernavbar': 'passengerratings'}}]" routerLinkActive="active" style="color: #ddd">My Ratings</a> -->
                  <div style="border-color:#666;" class="dropdown-divider" *ngIf="multipleCharacter"></div>
                <a class="dropdown-item" *ngIf="driverAvailable" [routerLink]="" (click)="switchToDriver()" routerLinkActive="active" style="color: #ddd">Switch to Driver</a>                  
                <a class="dropdown-item" *ngIf="adminAvailable" [routerLink]="" (click)="switchToAdmin()" routerLinkActive="active" style="color: #ddd">Switch to Admin</a>
                <a class="dropdown-item" *ngIf="parentAvailable" [routerLink]="" (click)="switchToParent()" routerLinkActive="active" style="color: #ddd">Switch to Parent</a>
                <a class="dropdown-item" *ngIf="ownerAvailable" [routerLink]="" (click)="switchToOwner()" routerLinkActive="active" style="color: #ddd">Switch to Owner</a>

              </div>
          </li>
          <li class="nav-item" style="padding-right: 10px">
              <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../../assets/icons/sign-out-alt-solid.svg " (click)="logout()" style="color: #ddd;height:20px; padding: 0px"></a>            </li>
      </ul>
    </div>
</nav>

<router-outlet name="passengernavbar"></router-outlet>





