<app-ngxspinner></app-ngxspinner>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #222">
    <a class="logoname" class="navbar-brand" style="color: white" (click)="homepage()">DriveMe</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Drivers
          </a>
          <div class="dropdown-menu"  aria-labelledby="navbarDropdown"  style="background-color: #333">
            <a class="dropdown-item" [routerLink]="[{outlets: {'ownernavbar': 'owner-driverdetails'}}]" routerLinkActive="active" style="color: #ddd">View Drivers</a>
          </div>
        </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown" style="padding-right: 30px" >
                <a class="nav-link navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #222"><img src="../../assets/icons/user-solid.svg " style="color: #ddd;height:20px; padding: 0px"></a>
                <div class="dropdown-menu"  aria-labelledby="navbarDropdown" style="background-color: #333">
                  <a class="dropdown-item" [routerLink]="[{outlets: {'ownernavbar': 'ownerprofile'}}]" routerLinkActive="active" style="color: #ddd">My Profile</a>
                  <div style="border-color:#666;" class="dropdown-divider" *ngIf="multipleCharacter"></div>
                  <a class="dropdown-item" *ngIf="driverAvailable" [routerLink]="" (click)="switchToDriver()" routerLinkActive="active" style="color: #ddd">Switch to Driver</a>                  
                  <a class="dropdown-item" *ngIf="passengerAvailable" [routerLink]="" (click)="switchToPassenger()" routerLinkActive="active" style="color: #ddd">Switch to Passenger</a>
                  <a class="dropdown-item" *ngIf="parentAvailable" [routerLink]="" (click)="switchToParent()" routerLinkActive="active" style="color: #ddd">Switch to Parent</a>
                
                </div>
            </li>
            <li class="nav-item" style="padding-right: 10px">
                <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../../assets/icons/sign-out-alt-solid.svg " (click)="logout()" style="color: #ddd;height:20px; padding: 0px"></a> 
            </li>
        </ul>
    </div>
</nav>


<router-outlet name="ownernavbar"></router-outlet>

