.image{
    height:40em; 
    background-size:cover;
    width:auto;
    background-image:url('/background.jpg');
    background-position:50% 50%;
  }
.dropdown-menu  {
    background-color: #444;
}

.dropdown{
    padding-left: 50px;
}

.dropdown-item{
    color: #ccc;
}



.dropdown-item:hover{
    background-color: #333 !important;
    color: white !important;
}

.dropdown-menu a{
    background-color: transparent !important;
}

.dropdown-menu a:hover{
    background-color: #333 !important;
    color: white !important;
}

.navbarDropdown{
    color: #ddd !important;
}

.navbarDropdown:hover{
    color: white !important;
}
body{
    // background-image: url(C:\Users\tamzs\OneDrive\Desktop\DriveMe-Web\DriveMe-Web\src\1.jpg);
    background-size: cover;
    //background-attachment: fixed;
    //font-family: 'Times New Roman';
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;

}