<app-ngxspinner></app-ngxspinner>

<div class="container container top-margin">
    <div class="container-fluid pl-5 pr-5 pt-3 pb-2 fill-form">

        <p style="margin:10px;font-size: 30px; font-weight: 400;font-family: Georgia, 'Times New Roman', Times, serif">Rating Details</p>
        <section *ngIf="waiting" style="display: flex; align-content: center; align-items: center;margin-top: 30px; margin-left: 20px; margin-right: 20px;">
        </section>

        <form [formGroup]="ratingForm">

            <mat-form-field class="form-field-full-width">
                <mat-label>Choose Number of Stars</mat-label>
                <mat-select type="number" formControlName="stars">
                    <mat-option value=1>1 Star</mat-option>
                    <mat-option value=2>2 Stars</mat-option>
                    <mat-option value=3>3 Stars</mat-option>
                    <mat-option value=4>4 Stars</mat-option>
                    <mat-option value=5>5 Stars</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="form-field-full-width">
                <input matInput class="form-control" type="text" placeholder="Your Comments" formControlName="rating" required>
            </mat-form-field>

            <!-- <mat-form-field class="form-field-full-width">
                <input matInput class="form-control" type="text" placeholder="Date" formControlName="date" required>
            </mat-form-field> -->

            <mat-form-field class="form-field-full-width">
                <mat-label>Choose the date</mat-label>
                <input matInput [max]="minDate" [matDatepicker]="picker" type="text" formControlName="date" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="ratingForm.get('date').invalid && ratingForm.get('date').touched ">Date is required</mat-error>
            </mat-form-field>

            <p style="margin:0px;font-size: 15px; font-weight: 400;font-family: Georgia, 'Times New Roman', Times, serif">Confirm Ratings?</p>
            <div class="pt-4">
                <button class="button" mat-raised-button color="accent" (click)="ratingForm.reset()">Clear</button>
                <button [disabled]="ratingForm.invalid" mat-raised-button color="primary" (click)="registerrating(ratingForm.value)">Confirm</button>
            </div>
        </form>

    </div>
</div>