<app-ngxspinner></app-ngxspinner>

<div class="container navbar-margin">
    <mat-list role="list" *ngFor="let passenger of passengers | async; let last = last">
        <div class="row pt-4 pb-3 mb-4" style="border: 1.5px solid #FF5722; border-radius: 20px;" *ngIf="!passenger.isDeleted">
            <div class="col-md-3" style="vertical-align: middle;text-align: center;">
                <div class="row" style="vertical-align: middle;
                display: flex;
                justify-content: center;">
                    <img src="../../../../assets/passengeravatar.png" alt="passenger Icon" style="width: 180px;
                        position: absolute;
                        top: 45%;
                        -ms-transform: translateY(-50%);
                        transform: translateY(-50%);">
                </div>
            </div>
            <div class="col-md-5" style="padding-left: 30px;">
                <p>Name : {{passengers.name}}</p>
                <p>Email : {{passengers.email}}</p>
                <p>Address : {{passengers.address}}</p>
                <p>Telephone : {{passengers.telephone}}</p>
            </div>

        </div>
    </mat-list>
</div>