<app-ngxspinner></app-ngxspinner>
<br>
<div class="container top-margin"></div>
<div>
    <p style="margin:0px;font-size: 30px; text-align:center; font-weight: 400;font-family: Georgia, 'Times New Roman', Times, serif">Recent Ratings</p>
</div>
<div *ngFor="let item of allRatingsList" class="container">
    <mat-list role="list" class="form-field-full-width">
        <div class=" row pt-4 pb-3 mb-4 " style="border: 1.5px solid #FF5722; border-radius: 20px;">

            <div class="col-md-5 " style="padding-left: 5px; ">
                <p>Stars : {{item.stars}}</p>
                <p>Comments : {{item.ratings}}</p>
                <p>Date: {{item.date}}</p>

            </div>

        </div>
    </mat-list>
</div>