<app-ngxspinner></app-ngxspinner>
<div class="container-fluid navbar-margin">

    <div class="row" style="padding-top: 60px;">
            <div class="col-md-5 col-sm-4 col-xs-12" style="padding: 20px;">
                
                    <div class="row" style="justify-content: center ;margin:0px; position: relative;">
                            <img src={{imgURL}} alt="Passenger ProfPic" style="height: 80%;">
                    </div>
            </div>
        
            <div class="col-md-7 col-sm-6 col-xs-12" style="padding-right: 10%">
                <div class="pl-5 pr-5"  style="border: 1.5px solid #FF5722; border-radius: 20px; padding-top:30px;  padding-bottom:30px">
                    <p style="font-size: 17px;"><span class="mr-3" style="font-weight: bold;"> Name  :</span> {{name}}</p><br>
                    <p style="font-size: 17px;"><span class="mr-3" style="font-weight: bold;"> Email  :</span>{{email}}</p><br>
                    <p style="font-size: 17px;"><span class="mr-3" style="font-weight: bold;"> Address  :</span>{{address}}</p><br>
                    <p style="font-size: 17px;"><span class="mr-3" style="font-weight: bold;"> Telephone  :</span>{{phone}}</p><br>
                    <!-- <p style="font-size: 17px;"><span class="mr-3" style="font-weight: bold;"> NIC / Passport  :</span> {{nic}}</p> -->
                </div>
            </div>
            
    </div>

    <div class="row" style="text-align: center; padding-top:100px">
        <div class="col-md-2"></div>
        <div class="col-md-4" style="text-align: center">
            <button mat-raised-button color="primary" style="
                height: 45px;
                width: 80%;"
                (click)="changePassengerDetails()" 
                routerLinkActive="active" ><mat-icon>edit</mat-icon>Edit Profile
            </button>
        </div>
        <div class="col-md-4" style="text-align: center">
            <button mat-raised-button color="warn" style="
                height: 45px;
                width: 80%;"
                (click)="changePassword()" 
                routerLinkActive="active" ><mat-icon>edit</mat-icon>Change Password
            </button>
        </div>
        <div class="col-md-2"></div>

    </div>
    <li class="nav-item" style="padding-right: 10px">
        <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../../assets/icons/sign-out-alt-solid.svg " (click)="logout()" style="color: #ddd;height:20px; padding: 0px"></a>            </li>

</div>