<app-ngxspinner></app-ngxspinner>
<div class="container navbar-margin">
    <mat-list role="list"  *ngFor="let admins of admins | async; let last = last">
        <div class="row pt-4 pb-3 mb-4" style="border: 3px solid #FF5722; border-radius: 20px;" *ngIf="!admins.isDeleted">
            <div class="col-md-3" style="vertical-align: middle;text-align: center;"> 
                <div class="row" style="vertical-align: middle;
                display: flex;
                justify-content: center;">
                        <img src="../../../../assets/adminavatar.png "  alt="admin Icon " style="width: 120px;margin-left: 20px;">
                </div>
            </div>
            
            <div class="col-md-5" style="padding-left: 30px;">
                <p>Name : {{admins.name}}</p>
                <p>Email : {{admins.email}}</p>
                <p>Telephone : {{admins.telephone}}</p>
                
            </div> 
        </div>
    </mat-list>
</div>