<app-ngxspinner></app-ngxspinner>
<div class="container-fluid top-margin: 10px">
    <div>
        <p style="margin:10px;font-size: 30px; text-align:center; font-weight: 400;font-family: Georgia, 'Times New Roman', Times, serif">My Passenger Availability</p>
    </div>


    <!-- Passengers Ratings -->
    <div class="row" style="padding-top:20px;">
        <div class="col-md-6" *ngFor="let item2 of showingavailabilityList">

            <mat-list style="margin-left: 40px;margin-right:40px">
                <div class="row pt-4 pb-3 mb-4 " style="border: 1.5px solid #FF5722; border-radius: 20px;">
                    <div class="row">
                        <div class="col-md-4" style="vertical-align: right; justify-content: center; ">
                            <img src="../../../../assets/passengeravatar.png " alt="passenger Icon " style="width: 120px;margin-left: 20px;">
                        </div>
                        <div class="col-md-8">

                            <div class="col-md-12">
                                <p>Passenger Name : {{item2.name}}</p>
                                <p>Date: {{item2.date}}</p>
                                <div *ngIf="item2.availability; then in else out"></div>
                                <ng-template #in>Availability : Will Come</ng-template>
                                <ng-template #out>Availability : Will not Come</ng-template>

                            </div>
                        </div>
                    </div>
                </div>
            </mat-list>
        </div>
    </div>

    <!-- let item2 of showingavailabilityList -->


    <!-- <p>Passenger Name : {{item2.name}}</p>
                <p>Date: {{item2.date}}</p>
                <div *ngIf="item2.availability; then in else out"></div>
                <ng-template #in>Availability : Will Come</ng-template>
                <ng-template #out>Availability : Will not Come</ng-template>
                 -->