@import '~@angular/material/theming';

@include mat-core();
$candy-app-primary: mat-palette($mat-green,600);
$candy-app-accent:  mat-palette($mat-orange, 900, 800, A400);
$candy-app-warn:    mat-palette($mat-red);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
@include angular-material-theme($candy-app-theme);


// <color name="colorPrimary">#4CAF50</color>
// <color name="colorPrimaryDark">#388E3C</color>
// <color name="colorAccent">#FF5722</color>
// <color name="lightPrimary">#C8E6C9</color>
// <color name="whiteText">#FFFFFF</color>
// <color name="blackText">#212121</color>
// <color name="greyText">#757575</color>
// <color name="lightGreyBorder">#ffa0a496</color>
// <color name="dividerColor">#BDBDBD</color>
// <color name="pink">#E91E63</color>
// <color name="yellow">#FBC02D</color>
// <color name="lightblue">#03A9F4</color>
// <color name="deeppurple">#673AB7</color>
// <color name="green">#4CAF50</color>
// <color name="orange">#FF5722</color>
// <color name="darkorange">#e03600</color>