@import "../src/assets/theming.scss";

.backdropBackground{
    background: rgba(0, 0, 0, 0.7);
}
.navbar-margin{
    margin-top: 100px !important;
    margin-bottom: 30px;
}

.p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.div{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.span{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
}