<app-ngxspinner></app-ngxspinner>
<div class="container navbar-margin">   
    <div class="container-fluid pl-5 pr-5 pt-3 pb-2 fill-form">

        <p style="margin:0px;font-size: 30px; font-weight: 400;font-family: Georgia, 'Times New Roman', Times, serif">Edit Owner Details</p>
        <section *ngIf="waiting" style="display: flex; align-content: center; align-items: center;margin-top: 30px; margin-left: 20px; margin-right: 20px;">
            <mat-progress-bar  color="warn" mode="indeterminate" value="50" bufferValue="75">
        </mat-progress-bar>
        </section>
        <mat-horizontal-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup" >
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Owner Details</ng-template>
                    <mat-form-field class="form-field-full-width">
                        <input [(ngModel)]="ownerName" matInput placeholder="Name"  formControlName="ctrl1" required>
                    </mat-form-field><br>
                    <mat-form-field class="form-field-full-width">
                        <input [(ngModel)]="ownerTelephone" matInput placeholder="Telephone" formControlName="ctrl4" required>
                    </mat-form-field><br>
                    <mat-form-field class="form-field-full-width">
                        <input [(ngModel)]="ownerNIC" matInput placeholder="NIC/Passport Number" formControlName="ctrl5" required>
                    </mat-form-field><br>
                    
                    <div style="height: 20px;">
                        <div *ngIf="passwordDiv">
                            <section *ngIf="pass1!=pass2?true:false" style="font-size: 12px;color: red;">
                                <p style="font-weight: 550;">Password Mismatched</p>
                            </section>
                            <section *ngIf="pass1==pass2?true:false" style="font-size: 12px; color: rgb(6, 190, 6);">
                                <p style="font-weight: 550;">Password Matched</p>
                            </section>
                        </div><br>
                    </div>
                    <div class="pt-3">
                        <button mat-raised-button color="primary" (click)="stepperNext(stepper)">Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Confirm</ng-template>
                Please Confirm the Details
                <div class="pt-3">
                    <button mat-raised-button color="accent" matStepperPrevious  class="mr-4">Go Back</button>
                    <button mat-raised-button color="primary" (click)="registerOwner()">Confirm</button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>
