<div class="fluid-container register-page" >
    <div class="row">
        <div class="col-md-12 heading-row">
            <h1 class="heading">DriveMe</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 heading-row1">
                <h5 class="content">You have Not yet Registered</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 heading-row">
                <h6 class="content">Register Now as,</h6>
        </div>
    </div>
    <div class="row" class="btn-row">
        <div class="col-md-9" class="btn-div">
            <div class="row btn1" *ngIf="!isDriver">
                <div class="col-md-12 single-button"><button mat-raised-button color="accent" class="character-button" (click)="visitDriveme()">Driver</button></div>
            </div>  
            <div class="row btn1" *ngIf="!isPassenger">
                <div class="col-md-12 single-button"><button mat-raised-button color="accent" class="character-button">Passenger</button></div>
            </div>
            <div class="row btn1" *ngIf="!isParent"> 
                <div class="col-md-12 single-button"><button mat-raised-button color="accent" class="character-button">Parent</button></div>
            </div>
            <div class="row btn1" *ngIf="!isOwner">
                <div class="col-md-12 single-button"><button mat-raised-button color="accent" class="character-button"  (click)="visitDriveme()">Owner</button></div>
            </div>
        </div>  
    </div>
</div>






