<app-ngxspinner></app-ngxspinner>
<br>
<div class="container top-margin">
    <div>
        <p style="margin:0px;font-size: 30px; text-align:center; font-weight: 400;font-family: Georgia, 'Times New Roman', Times, serif">Recent Ratings</p>
    </div>

    <div class="row" style="padding-top: 30px;">
        <div class="col-md-6" *ngFor="let item of allRatingList">

            <mat-list style="margin-left: 50px;">

                <div class="row pt-4 pb-3 mb-4 " style="border: 1.5px solid #FF5722; border-radius: 20px;">



                    <div class="col-md-5">

                        <div class="row " style="vertical-align: right; display: flex; justify-content: center; ">
                            <img src="../../../../assets/rating.png " alt="passenger Icon " style="width: 120px; position: absolute; top: 45%; -ms-transform: translateY(-50%); transform: translateY(-50%); ">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <p>Stars : {{item.stars}}</p>
                        <p>Comments : {{item.rating}}</p>
                        <p>Date: {{item.date}}</p>
                    </div>


                </div>
            </mat-list>



        </div>
    </div>
</div>